.FourthSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 27px 18px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      font-size: 28px;
      font-weight: 400;
      color: var(--txt-color-primary);
    }
  }
  @media (min-width: 800px) {
    .field {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .title {
        min-width: 250px;
      }
    }
  }
  .tdButton {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    @media (max-width: 800px) {
      flex-direction: column;
      width: auto;
    }
  }
}
.whiteBox {
  padding: 15px 0 15px 28px;
}
