.FifthSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 27px 18px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      font-size: 28px;
      font-weight: 400;
      color: var(--txt-color-primary);
    }
  }
  @media (min-width: 800px) {
    .field {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .title {
        min-width: 250px;
      }
    }
  }
  .tdButton {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    @media (max-width: 800px) {
      flex-direction: column;
      width: auto;
    }
  }
  .tdButtonDate {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    .title {
      width: 50px;
      min-width: 50px;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      width: auto;
    }
  }
}
.whiteBox {
  padding: 15px 0 15px 28px;
}
.fieldInVisible {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

.fieldVisible {
  max-height: 500px;
  opacity: 1;
  transition: all 0.4s ease;
}
